@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Karla', sans-serif; */
  background: #3c3864;
  text-align: center;
}
